html, body {
    font-family: 'PT Mono', monospace, 'PT Sans', sans-serif, 'Open Sans', sans-serif;
    color: #5a5a5a;
    background-color: #f7f8fa;
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

/* navbar */

nav {
    background-color: #fff;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 1;
    margin: 0;
    top: 0;
  }
  .nav-box {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding-right: 40px;
    text-decoration: none;
    color: #707070;
    font-size: 18px;
  }
  nav .mainMenu li a:hover {
    color: #000
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  
  .dropdown .dropbtn {
  padding: 0;
  border: none;
  outline: none;
  color: #333;
  background-color: #fff;
  font-size: 18px;
  margin: 0;
  }
  
  .dropbtn a {
  padding-right: 40px;
  text-decoration: none;
  color: #707070;
  }
  
  .dropbtn a:hover {
  text-decoration: none;
  color: #333;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 300px;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  max-width: 200px;
  float: none;
  color: #707070;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .dropdown-content a:hover {
  color: black;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  @media(max-width: 800px) {
  nav .mainMenu li a {
    margin: 24px auto;
  }
  
  .dropbtn a {
    transition: 0.5s ease-in-out;
  }
  
  .dropbtn a:hover {
    background: none;
    color: #000;
  }
  }
  
  
  .fa-linkedin-in:hover {
    color: #333;
    opacity: 0.7;
  }
  .fa-behance:hover {
    color: #333;
    opacity: 0.7;
  }
  .fa-github:hover {
    color: #333;
    opacity: 0.7;
  }
  
  nav .logo {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    margin: 6px;
    cursor: pointer;
  }
  
  nav .logo:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  @media(max-width: 800px){
    nav .mainMenu {
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 700ms ease-in-out;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 40px;
        right: 90px;
  
    }
    nav .openMenu {
        display: block;
    }
  
    li a {
      transition: 0.5s ease-in-out;
    }
  
    nav .mainMenu li a:hover {
        background: none;
        color: #000;
    }
  
    .icons {
        padding-top: 80px;
    }
  
    .icons i {
        display: inline-block;
        padding: 12px;
    }
  }

/* banner */

.hero-box {
    width: 65vw;
    height: auto;
    display: flex;
    margin: 180px auto 0;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hero-title {
    text-align: center;
}

.hero-label {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #000;
    margin-bottom: 0;
}

.hero-label-2 {
    font-size: 38px;
    line-height: 48px;
    color: #000;
    margin-bottom: 0;
}

.hero-myname {
    font-weight: 600;
    text-decoration: none;
    color: #000;
    background-color: #faf8ad;
}

.hero-myname:hover {
    font-weight: 600;
    color: #000;
    background-color: #f7f8fa;
    border-style: none;
}

.label-1, .label-2 {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.label-1:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fdc5f6;
    text-shadow: none;
}

.label-2:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fdc5f6;
    text-shadow: none;
}

.hero-links {
    margin: 20px auto;
}

.hero-link {
    text-decoration: none;
    color: #707070;
}

.hero-link:hover {
    color: #000;
}

/* gallery */

.content-sections {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 65vw;
    transition: 0.7s ease-in-out;
}

.section-1, .section-2, .section-3 {
    margin: 20px auto;
}

/* Transitions */

.section-1-image, .section-2-image, .section-3-image {
    width: 100%;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.section-1-image:hover, .section-2-image:hover, .section-3-image:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01,1.01);
}

/* footer */

.footer {
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
}

.footer-container {
    align-items: center;
    display: inline-flex;
    margin: 0 auto;
}

.fab {
    padding: 20px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin-in {
    color: #333;
    margin: 0 auto;
  }

.fa-behance {
    color: #333;
    margin: 0 auto;
  }

.fa-github {
    color: #333;
    margin: 0 auto;
  }

  /* queries */

  @media only screen and (max-width: 1200px) and (min-width:320px) {
    .content-sections {
        width: 90vw;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .section-1, .section-2, .section-3 {
        margin: 10px auto;
    }

    .hero-box {
        width: auto;
        height: auto;
        margin-top: 180px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-title {
        margin-left: 80px;
        margin-right: 80px; 
    }

    .hero-paragraph {
        margin-left: 80px;
        margin-right: 80px;
    }

    .hero-links {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media only screen and (max-width:580px) {
  html, body {
    scroll-behavior: smooth;
  }
  
  nav {
    height: 65px;
    transition: 0.2s ease-in-out;
  }

  nav .openMenu {
    font-size: 1.5rem;
  }

  .nav-box {
    width: 90%;
  }

  nav .logo {
    font-size: 18px;
  }

  nav .mainMenu {
    height: 30vh;
  }

  nav .mainMenu .closeMenu {
    font-size: 1.5rem;
    top: 10px;
    right: 50px;
  }

  .hero-box {
    margin-top: 120px;
  }

  .hero-image-thumbnail {
    width: 120px;
    height: 120px;
  }

  .hero-title {
    margin: 0;
  }

  .hero-label {
    margin-top: 20px;
    font-size: 46px;
  }

  .hero-label-2 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 32px;
  }

}


 














 