html, body {
  font-family: 'PT Mono', monospace, 'PT Sans', sans-serif, 'Open Sans', sans-serif;
  color: #333;
  background-color: #f7f8fa;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  background-color: #fff;
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  z-index: 1;
  margin: 0;
  top: 0;
}
.nav-box {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding-right: 40px;
  text-decoration: none;
  color: #707070;
  font-size: 16px;
}
nav .mainMenu li a:hover {
  color: #000
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.dropdown .dropbtn {
padding: 0;
border: none;
outline: none;
color: #333;
background-color: #fff;
font-size: 16px;
margin: 0;
}

.dropbtn a {
padding-right: 40px;
text-decoration: none;
color: #707070;
}

.dropbtn a:hover {
text-decoration: none;
color: #333;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
max-width: 300px;
box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
max-width: 200px;
float: none;
color: #707070;
padding: 12px 18px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
color: black;
}

.dropdown:hover .dropdown-content {
display: block;
}

@media(max-width: 800px) {
nav .mainMenu li a {
  margin: 24px auto;
}

.dropbtn a {
  transition: 0.5s ease-in-out;
}

.dropbtn a:hover {
  background: none;
  color: #000;
  font-size: 1.5rem;
}
}


.fa-linkedin-in:hover {
  color: #333;
  opacity: 0.7;
}
.fa-behance:hover {
  color: #333;
  opacity: 0.7;
}
.fa-github:hover {
  color: #333;
  opacity: 0.7;
}

nav .logo {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin: 6px;
  cursor: pointer;
}

nav .logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media(max-width: 800px){
  nav .mainMenu {
      height: 50vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fff;
      transition: top 700ms ease-in-out;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 40px;
      right: 90px;

  }
  nav .openMenu {
      display: block;
  }

  li a {
    transition: 0.5s ease-in-out;
  }

  nav .mainMenu li a:hover {
      background: none;
      color: #000;
      font-size: 1.5rem;
      transition: 0.5s ease-in-out;
  }

  .icons {
      padding-top: 80px;
  }

  .icons i {
      display: inline-block;
      padding: 12px;
  }
}