html, body {
    font-family: 'PT Mono', monospace, 'PT Sans', sans-serif, 'Open Sans', sans-serif;
    color: #5a5a5a;
    background-color: #f7f8fa;
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* navbar */

nav {
    background-color: #fff;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 1;
    margin: 0;
    top: 0;
}
.nav-box {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding-right: 40px;
    text-decoration: none;
    color: #707070;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
nav .mainMenu li a:hover {
    color: #000;
    transition: 0.5s ease-in-out;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .openMenu:hover {
    opacity: 0.7;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
}

.fa-linkedin-in:hover {
    color: #333;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}
.fa-behance:hover {
    color: #333;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}
.fa-github:hover {
    color: #333;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

nav .logo {
    font-size: 24px;
    text-decoration: none;
    color: #333;
    margin: 6px;
    cursor: pointer;
    padding-left: 40px;
}

nav .logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        display: none;
        transition: 0.5s ease-in-out;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 35px;
        right: 95px;
        transition: 0.5s ease-in-out;
    }

    nav .openMenu {
        display: block;
        transition: 200ms ease-in-out;
    }

    nav .closeMenu {
        cursor: pointer;
    }

    nav .closeMenu:hover {
        opacity: 0.7;
        transition: 200ms ease-in-out;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #000;
        font-size: 24px;
    }
    .icons {
        cursor: pointer;
        padding-top: 80px;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

/* banner */

.hero-box {
    width: 65vw;
    height: auto;
    display: flex;
    margin: 180px auto 0;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hero-title {
    text-align: center;
}

.hero-label {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #000;
    margin-bottom: 0;
}

.hero-label-2 {
    font-size: 38px;
    line-height: 48px;
    color: #000;
    margin-bottom: 0;
}

.hero-myname {
    font-weight: 600;
    text-decoration: none;
    color: #000;
    background-color: #faf8ad;
}

.hero-myname:hover {
    font-weight: 600;
    color: #000;
    background-color: #f7f8fa;
    border-style: none;
}

.label-1, .label-2 {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.label-1:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fdc5f6;
    text-shadow: none;
}

.label-2:hover {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #fdc5f6;
    text-shadow: none;
}

.hero-links {
    margin: 20px auto;
}

.hero-link {
    text-decoration: none;
    color: #707070;
}

.hero-link:hover {
    color: #000;
}

/* gallery */

.content-sections {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 65vw;
    transition: 0.7s ease-in-out;
}

.section-1, .section-2, .section-3 {
    margin: 20px auto;
}

/* Transitions */

.section-1-image, .section-2-image, .section-3-image {
    width: 100%;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.section-1-image:hover, .section-2-image:hover, .section-3-image:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01,1.01);
}

/* footer */

.footer {
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
}

.footer-container {
    align-items: center;
    display: inline-flex;
    margin: 0 auto;
}

.fab {
    padding: 20px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin-in {
    color: #333;
    margin: 0 auto;
  }

.fa-behance {
    color: #333;
    margin: 0 auto;
  }

.fa-github {
    color: #333;
    margin: 0 auto;
  }

  /* queries */

  @media only screen and (max-width: 1200px) and (min-width:320px) {
    .content-sections {
        width: 80vw;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .hero-box {
        width: auto;
        height: auto;
        margin-top: 180px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-title {
        margin-left: 80px;
        margin-right: 80px; 
    }

    .hero-paragraph {
        margin-left: 80px;
        margin-right: 80px;
    }

    .hero-links {
        margin-left: 80px;
        margin-right: 80px;
    }
}


 














 