html, body {
    font-family: 'PT Mono', monospace, 'PT Sans', sans-serif, 'Open Sans', sans-serif;
    color: #333;
    background-color: #f7f8fa;
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: #fff;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 1;
    margin: 0;
    top: 0;
}
.nav-box {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding-right: 40px;
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}
nav .mainMenu li a:hover {
    color: #000
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-linkedin-in:hover {
    color: #333;
    opacity: 0.7;
}
.fa-behance:hover {
    color: #333;
    opacity: 0.7;
}
.fa-github:hover {
    color: #333;
    opacity: 0.7;
}

nav .logo {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    margin: 6px;
    cursor: pointer;
}

nav .logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 700ms ease-in-out;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 40px;
        right: 90px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #000;
        font-size: 1.5rem;
        transition: 0.5s ease-in-out;
    }

    .icons {
        padding-top: 80px;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}












 body
 {
   margin: 0;
   padding: 0;
   background: #232323;
   color: #333;
   font-family: 'PT Mono', monospace, 'PT Sans', sans-serif, 'Open Sans', sans-serif;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* first one*/
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /* middle one */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /* last one */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 100%;
   margin: -100px 0 0 50px;
   padding: 50px;
   padding-top: 125px;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }